<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="42769PixelWhipped.ArkanoidDX" Publisher="CN=25DAC6FD-1AC6-4AC3-BD12-47C75263F078" Version="1.1.0.2" />
  <Properties>
    <DisplayName>ArkanoidDX</DisplayName>
    <PublisherDisplayName>PixelWhipped</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ArkanoidDX.App">
      <m2:VisualElements DisplayName="ArkanoidDX" Description="Based on the Classic 1986 game Arkanoid.  All original 35 levels, 64 Revenge of the Doh levels and s 32 Arkanoid Tournament levels have been recreated with the addition of 30 more DX levels and several new bricks and power ups which can be now be combined." BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="ArkanoidDX" Wide310x150Logo="Assets\Wide310x150Logo.png">
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#000000" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>